@use '/src/styles/variables' as v;

.services {
    background-color:v.$white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.services-header, .services-paragraph, .services-title, .services-text {
    color: v.$text-black;
}

.services-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2em;
}

.services-one, .services-two, .services-three {   
    width: 55%;
    height: 60%
}

.services-two {
    transform: translateY(-22px);
}