@use '/src/styles/variables' as v;

.home {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.home-img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 20%;
    z-index: 0;
    display: block;
}

.home-content {
    position: relative;
    z-index: 2;
    max-width: 50em;
    padding: 10rem 6rem;
}

.home-buttons {
    display:flex;
    flex-direction: column;
    gap: 1em;
}