@use '/src/styles/variables' as v;

.construction-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background: v.$gradient-main;
}

.construction-content img {
  width: 45%;
  height: auto;
  transform: translateY(3rem);
}

.construction-content {
  text-align: center;
}

.construction-text {
  font-weight: 900;
  line-height: 3.5em;
}

.construction-actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* Media Queries*/
@media (max-width: 768px) {


  .construction-text {
    margin-top: 2em;
    font-size: 0.5em;
  }
}
